<footer class="bg-dark text-white py-4">

  <div class="container">

    <div class="row">

      <div class="col-12 col-md-6">
        <h2 class="h5">TecnoMax</h2>

        <p class="text-secondary">
          Tecnología para todos.
        </p>
      </div>

      <div class="col-12 col-md-6 text-md-end">

        <p class="mb-1">
          Contacto: contacto@tecnomax.com
        </p>

        <p class="mb-0">
          © 2026 TecnoMax. Todos los derechos reservados.
        </p>

      </div>

    </div>

  </div>

</footer>
